@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
html{
  font-family: 'Poppins', sans-serif;
    padding: 0;
  }
    body{
      margin: 0;
      background: #06142E!important;
      }

      header{
  
        height: 95px;
        background-color: #FFA586;

}

header nav a:hover{
  background-color: #1d1d1d;
  opacity: 0.9;
  color: #d8d8d8 !important;
}

    .nav-vertical {
        display: flex;
        list-style: none;
        margin: 0;
        align-items: center;
      } 
    
      .container-nav {
       width: 100%;
      }
    
       .navbar-toggler {
        border: none;
      }
      
      .logo-container img{
        height: 75px;
      }
      
      .logo-container img:hover{
        transform: scale(1.1);
      }
      .cartel-inicio {
        top: 22rem;
        background-color: #142452;
        color: #ffffff;
      }
      .cartel-eter {
        top: 22rem;
        background-color: #BB5098;
        color: #ffffff;
      }
      .cartel-secciones{
        color: #d8d8d8 !important;
      }
      .carousel-inner{
        height: 70%;
      }
      .img-eter{
        opacity: 0.3;
      }
      .logo-eter{
        width: 96px;
      }
      /* ICONO DE WHATASPP FLOTANTE */
     
      @keyframes popup {
       0% {
         width: 0;
         height: 0;
       }
       50% {
         width: 8rem;
         height: 8rem;
       }
       100% {
         width: 5rem;
         height: 5rem;
       }
     }
     
     .wsp-btn a img{
       height: 70px;
       width: auto;
       left: 95%;
       top: 90%;
       cursor: pointer;
       z-index: 21;
       animation: popup 0.3s ease-in-out;
       transition: all .3s ease;
     }
     .wsp-btn a img:hover {
       transform: scale(1.1);
     }

      /*TV*/

      .box3 a{
        text-decoration: none;
        color: black;
      }
      .box3 a:hover{
        color: white;
      }
      .ver-mas{
        background-color: blueviolet;
        border-radius: 10px;
      }
      .social-links {
        margin-right: 20px;
      }
    




    /* FOOTER */

.pie-pagina {
  margin-top: 120px;
  background-color: #FFA586;
}

.box1 .img-container a img{
  width: 250px;
  height: auto;
}

.box2 a{
  text-decoration: none;
  color:#000000;
}

.box2 a:hover{
  color: #ffffff;
  transform: scale(1.1);
}

.redes a{
  text-decoration: none;
  text-align: center;
  transition: all .3s ease;
  color: #000000;
}
.redes a:hover{
  color:rgb(216, 255, 242);
}

#btn-v-inicio{
  background-color: #1d1d1d;
  color: #d8d8d8;
  text-decoration: none;
  border-radius: 10px ;
}
#btn-v-inicio:hover{
  background-color: #4181ac;
}