@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
html{
  font-family: 'Poppins', sans-serif;
    padding: 0;
  }
    body{
      margin: 0;
      background: #06142E!important;
      }

      header{
        background-color: #FFA586;

}


    .nav-vertical {
        display: flex;
        list-style: none;
        margin: 0;
        align-items: center;
      } 
    
      .container-nav {
       width: 100%;
      }
    
       .navbar-toggler {
        border: none;
      }
      nav ul li a:hover{
        box-shadow: 5px 5px 0 rgb(0,0,0,0.8) ;
        border-radius: 20px;
        transition: 0.3s;
      }
      
      .logo-container img{
        height: 75px;
      }
      
      .logo-container img:hover{
        transform: scale(1.1);
      }
      /*CARTELES EN MEDIO DE LAS IMAGENES*/
      .cartel-inicio {
        top: 22rem;
        background-color: #142452;
        color: #ffffff;
      }
      .cartel-eter {
        top: 22rem;
        background-color: #BB5098;
        color: #ffffff;
      }
      .cartel-tv{
        top: 22rem;
        background-color: #022B42;
        color: #F0F3F4;
      } 
      .cartel-secciones{
        color: #d8d8d8 !important;
      }
      .carousel-inner{
        height: 70%;
      }
      /*IMAGENES CON OPACIDAD*/
      .img-mdt{
        opacity:0.5;
      }
      .img-eter{
        opacity: 0.5;
      }
      .img-tv{
        opacity: 0.5;
      }

      /*LOGOS DE TITULOS*/
      .logo-mdt{
        width: 50px;
      }
      .logo-eter{
        width: 96px;
      }
      .logo-tv{
        width: 64px;
      }
      .logo-radio{
        width: 50px;
      }
      /*RADIO*/
      #radioStatus{
        font-size: 1rem;
        color: #e85d04;
      }
      .radio-controls {
        margin-top: 20px;
        background-color: #FFA586;
    }
    .radio-controls button:hover{
      box-shadow: 0px 5px 0 rgb(0,0,0,0.5) ;
    }
      /* ICONO DE WHATASPP FLOTANTE */
     
      @keyframes popup {
       0% {
         width: 0;
         height: 0;
       }
       50% {
         width: 8rem;
         height: 8rem;
       }
       100% {
         width: 5rem;
         height: 5rem;
       }
     }
     
     .wsp-btn a img{
       height: 70px;
       width: auto;
       left: 95%;
       top: 90%;
       cursor: pointer;
       z-index: 21;
       animation: popup 0.3s ease-in-out;
       transition: all .3s ease;
     }
     .wsp-btn a img:hover {
       transform: scale(1.1);
     }

      /*TV*/

      .box3 a{
        text-decoration: none;
        color: black;
      }
      .box3 a:hover{
        color: white;
      }
      .ver-mas{
        background-color: blueviolet;
        border-radius: 10px;
      }
      .social-links {
        margin-right: 20px;
      }
    




    /* FOOTER */

.pie-pagina {
  margin-top: 120px;
  background-color: #FFA586;
}

.box1 .img-container a img{
  width: 250px;
  height: auto;
}

.box2 a{
  text-decoration: none;
  color:#000000;
}

.box2 a:hover{
  color: #ffffff;
  transform: scale(1.1);
}

.redes a{
  text-decoration: none;
  text-align: center;
  transition: all .3s ease;
  color: #000000;
}
.redes a:hover{
  color:rgb(216, 255, 242);
}

#btn-v-inicio{
  background-color: #1d1d1d;
  color: #d8d8d8;
  text-decoration: none;
  border-radius: 10px ;
}
#btn-v-inicio:hover{
  background-color: #4181ac;
}